$confirm-color: green;
$cancel-color: red;
$default-color: blue;

@mixin default-button-component(
  $bg-color,
  $border-color,
  $text-color,
  $amount: 15%
) {
  height: 3rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 700;

  background-color: $bg-color;
  color: $text-color;

  outline: none;
  border: none;

  font-size: large;

  &:hover {
    background-color: darken($bg-color, $amount);
  }

  &:focus {
    outline: 2px solid darken($bg-color, 10%);
  }
}

header {
  height: 5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    @include default-button-component($default-color, $default-color, #ffff);
  }
}

main {
  min-height: calc(100dvh - 5rem); // 5rem header + 5rem footer
  padding-top: 2rem;

  table {
    width: 100%;
    font-size: large;

    th,
    td {
      padding: 0.5rem 1rem;

      &:not(:last-child) {
        border-right: 1px solid #eee;
      }
    }

    th {
      background-color: #242729;
      color: white;
    }

    tr {
      td:nth-child(5) {
        text-align: center;

        input[type="checkbox"] {
          background-color: red;
        }
      }
    }
  }
}

footer {
  background-color: transparent;
  height: 5rem;

  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  padding-bottom: 3rem;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;

  button.add-button {
    @include default-button-component($default-color, $default-color, #ffff);
  }

  button.cancel-button {
    @include default-button-component($cancel-color, $cancel-color, #ffff);
  }

  button.confirm-button {
    @include default-button-component($confirm-color, $confirm-color, #ffff);
  }
}

dialog {
  $margin: auto;

  width: 80%;
  position: fixed;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  margin-left: $margin;
  margin-right: $margin;

  background-color: #242729;
  box-shadow: 0 0 30px -20px white;
  border-radius: 0.5rem;
  border: none;

  z-index: 200;

  button {
    @include default-button-component($default-color, $default-color, #ffff);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    color: white;
    font-size: x-large;
  }

  .close-button {
    background-color: transparent;

    border: none;
    border-radius: 0;

    color: black;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      color: white;
      font-size: x-large;
    }

    input,
    textarea {
      border: 1px solid white;
      color: white;
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-size: 1rem;
      background-color: transparent;
      height: 3rem;

      &:focus {
        border-color: darken(#ccc, 10%);
      }
    }

    button {
      @include default-button-component($default-color, $default-color, #ffff);
      margin: 0 auto;
      width: 90%;
      height: 5rem;
      margin-top: 3rem;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
